In [24]:
import pandas as pd
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

from user_modules import outliers as otr

a = [77.90862701, 45, 77.98950278, 77.77332218, 77.44379058, 78, 77.87894303, 76, 10000]
b = [47.9, 47.8, 20000, 47.7, 47.4, 48, 46, 88, 47.9]
c = [12, 13, 12, 14, 12, 13, 16, 12, 13, 16, 11]
d = [156, 185, 345]

dataset = [a, b, c, d]
# dataname = ['a', 'b', 'c', 'd']

data = pd.DataFrame()
for d, n in zip(dataset, range(len(dataset))):
   data[n] = pd.Series(d)

# data[1] = pd.Series(c)
# data[2] = pd.Series(d)

# data = pd.DataFrame({
#     'a': pd.Series(a),
#     'b': pd.Series(b),
#     'c': pd.Series(c),
#     'd': pd.Series(d)
# })

print(data)

# otr.grubbs_test(data)
otr.quant_outlier(data)

              0        1   2      3
0     77.908627     47.9  12  156.0
1     45.000000     47.8  13  185.0
2     77.989503  20000.0  12  345.0
3     77.773322     47.7  14    NaN
4     77.443791     47.4  12    NaN
5     78.000000     48.0  13    NaN
6     77.878943     46.0  16    NaN
7     76.000000     88.0  12    NaN
8  10000.000000     47.9  13    NaN
По методу квантилей выбросы в таблице:
   Выборки  Выбросы
0        0     45.0
1        0     76.0
2        0  10000.0
3        1  20000.0
4        1     46.0
5        1     88.0
6        2     16.0

In [23]:
from sklearn.ensemble import IsolationForest

clf = IsolationForest()
clf.fit(data)

data['anomaly'] = clf.predict(data)
data = data[data.anomaly == 1]
data = data.drop(columns = 'anomaly')
data

           0     1   2      3
0  77.908627  47.9  12  156.0
1  45.000000  47.8  13  185.0
3  77.773322  47.7  14    NaN
4  77.443791  47.4  12    NaN
5  78.000000  48.0  13    NaN
7  76.000000  88.0  12    NaN

In [45]:
from sklearn.ensemble import IsolationForest
import numpy as np

def otr_sklearn(x):
    clf = IsolationForest()
    arr = np.array(x).reshape(-1, 1)
    clf.fit(arr)
    s = clf.predict(arr)
    return s

otr_sklearn(d)

print(type(arr))

<class 'numpy.ndarray'>